body {
    background-color: #2cd1f2;
}
.container {
    border: solid black;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    background-color: powderblue;
    max-width: 600px;
}

.container h1 {
    text-align: center;
}

#weather-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 2fr;
}

#location {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
}

#main-temperature{
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

#weather-main {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

#weather-details {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-row: 3;
    grid-column: 1/span 2;
}

#get-weather-container, #search-history {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
